{% extends "optomedik/layout/layout.html" %}


{% block body %}
    <div id="div_turnos"style="display:none;" style="border-style: groove;">Turnos : </div>
    <div id="div_pacientes" style="display:none;">Pacientes</div>
    <div id="div_medicos" style="display:none;">medicos</div>
   
    <div class="inicio" style="display:block;">
        <h2 style="text-align: center;">Integrantes :  <p></h2>
            <h2>Ariel Bedoya Muñoz <p></h2>
                <h2>Elkin Bedoya Muñoz <p></h2></div>
{% endblock %}